<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Accont_Login</servlet-name>
        <servlet-class>com.puzzle.Accont_Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminLogin</servlet-name>
        <servlet-class>com.puzzle.AdminLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>com.puzzle.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Registration</servlet-name>
        <servlet-class>com.puzzle.Registration</servlet-class>
        <multipart-config>
            <location>/tmp</location>
            <max-file-size>20848820</max-file-size>
            <max-request-size>418018841</max-request-size>
            <file-size-threshold>1048576</file-size-threshold>
        </multipart-config>
    </servlet>
    <servlet>
        <servlet-name>ImageRegistration</servlet-name>
        <servlet-class>com.puzzle.ImageRegistration</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RandomImageRegistration</servlet-name>
        <servlet-class>com.puzzle.RandomImageRegistration</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserRegistrationForm</servlet-name>
        <servlet-class>com.puzzle.UserRegistrationForm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PuzzleAes</servlet-name>
        <servlet-class>com.puzzle.PuzzleAes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>captchamsg</servlet-name>
        <servlet-class>com.puzzle.captchamsg</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AesOtp</servlet-name>
        <servlet-class>com.puzzle.AesOtp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OtpLogin</servlet-name>
        <servlet-class>com.puzzle.OtpLogin</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Accont_Login</servlet-name>
        <url-pattern>/Accont_Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminLogin</servlet-name>
        <url-pattern>/AdminLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Registration</servlet-name>
        <url-pattern>/Registration</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImageRegistration</servlet-name>
        <url-pattern>/ImageRegistration</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RandomImageRegistration</servlet-name>
        <url-pattern>/RandomImageRegistration</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserRegistrationForm</servlet-name>
        <url-pattern>/UserRegistrationForm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PuzzleAes</servlet-name>
        <url-pattern>/PuzzleAes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>captchamsg</servlet-name>
        <url-pattern>/captchamsg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AesOtp</servlet-name>
        <url-pattern>/AesOtp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OtpLogin</servlet-name>
        <url-pattern>/OtpLogin</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>Index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
